<%- include('partials/header.ejs') %>
    <h1 class="text-center py-2 pb-0">
        <%= formTitle %>
    </h1>
    <form class="display-form" method="post" action="<%= action %>">
        <div class=" form-group">
            <label for="book-name">Book Name</label>
            <input type="text" name="book-name" class="form-control" id="form-book-name" placeholder="Enter Book Name"
                value="<%= note ? note.title : '' %>" required>
        </div>
        <div class="form-group">
            <label for="author-name">Author Name</label>
            <input type="text" name="book-author" class="form-control" id="form-author"
                value="<%= note ? note.author : '' %>" placeholder="Author Name" required>
        </div>
        <div class="form-group">
            <label for="isbn-number">ISBN Number</label>
            <input type="text" name="book-isbn" class="form-control" id="form-isbn" value="<%= note ? note.isbn : '' %>" placeholder="isbn no" required>
        </div>
        <div class="form-group">
            <label for="book-note">Notes</label>
            <textarea class="form-control" name="book-notes" id="form-book-note" rows="15"
                placeholder="Enter your notes" required><%= note ? note.note : '' %></textarea>
        </div>
        <div class="form-group">
            <label for="">Rating</label>
            <select class="form-control" name="rating" id="form-rating" required>
                <% for( let i=1; i <=5; i++ ) { %>
                    <option value="<%= i %>" <%= note && note.rating === i ? 'selected' : '' %>>
                        <%= i %>
                    </option>
                    <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="category-select">Category</label>
            <select class="form-control" id="categories" name="categories[]" multiple required>
                <% allCategories.forEach(cat=> { %>
                    <option value="<%= cat %>" <%= note && note.category && note.category.includes(cat) ? "selected" : "" %>>
                        <%= cat %>
                    </option>
                    <% }) %>
            </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" name="favourite" type="checkbox" value="true"
            id="form-favourite" <%= note && note.favourite ? 'checked' : '' %>>
            <label class="form-check-label" for="form-favourite">
                Mark as Favourite
            </label>
        </div>
        <div class="form-group d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-secondary">
                <%= buttonType %>
            </button>
        </div>
    </form>

    <script>
        const categoriesSelect = document.getElementById('categories');
        const choices = new Choices(categoriesSelect, {
            removeItemButton: true,
            searchEnabled: true,
            placeholder: true,
            placeholderValue: 'Select categories...'
        });
    </script>


    <%- include('partials/footer.ejs') %>